@model Project.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminLogin)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>